<section id="future-faculty" style="<%= hide_if_unenrolled( participant, :future_faculty) %>">

  <% unless Programs::FutureFaculty::Enrollment.find( participant ).nil? %>

    <%= render( 'participants/programs/future_faculty/participant_requirements_form', participant: participant ) %>

  <% end %>

</section>
