<div class="list-group-item activity">
  <h2 class="list-group-item-heading">
    <% if activity.type == "Participant::Activities::Additional" %>
      <%= activity.title %>
    <% else %>
        <%= Programs::FutureFaculty::Requirement.find_by_activity_class(activity.type).label %>
    <% end %>
    &nbsp;&nbsp;
    <small>
      <%= link_to( "[x]", participant_activity_path(activity),
          :method => :delete, remote: true, data: { confirm: "Really delete this?" } ) %></small>
  </h2>

  <p class="list-group-item-text">
    <%= activity.description %>
  </p>
</div>
