<h1 class="syllabus_project">Course Syllabus &amp; Design Project</h1>
<div>
  <p class="note">None.</p>
</div>

<h1 class="individual_project">Individual Project</h1>
<div>
  <p class="note">None.</p>
</div>
