<tr><td>

<%= check_box "register", "seminar_"+new_registration.seminar.id.to_s, {}, new_registration.seminar.id.to_s %>
<h1 class="title"><%= new_registration.seminar.title %></h1>
<p class="date details"><%= raw new_registration.seminar.formatted_timespan %></p>
<p class="description details"><%= new_registration.seminar.description %></p>

</td></tr>
