<div class="list-group-item seminar">

  <h2 class="list-group-item-heading"><%= seminar.title %><%= "*" if seminar.core? %>
    &nbsp;
    <small>[ <%= I18n.l seminar.start_at.to_date, format: :prose %> ]</small>
  </h2>

</div>
