<section class="seminar-group <%= css_class %>">
  <h1><%= raw title %></h1>
  
  <ul>
    <% if seminars && seminars.size > 0 %>
      <%= render seminars %>
    <% else %>
      <tr><td><%= no_seminars_message %></td></tr>
    <% end %>
  </ul>
</section>
