.add-participant-form { 
  line-height: 40px; padding: 5px; text-decoration: none; color: inherit; padding: 5px; display: block;
  position: relative;

  input[type="text"] { width: 140px; border: 1px solid #cccccc; padding: 5px 3px; position: relative; }
}

.attendance-form {
  border: 1px solid #bbbbbb;
  bottom: -5px;
  display: none;
  left: 5px;
  position: absolute;
}