/* ==|== admin/seminars view styles =========================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

.attendance-form {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  top: 100%;
  display: none;
  left: 10px;
  line-height: 18px;
  margin-top: -10px;
  padding: 10px;
  position: absolute;
  width: 180px;

  input[type="radio"] {
    clear: left;
    float: left;
    margin: 5px;
    vertical-align: middle;
  }
  
  label {
    float: left;
  }
}
