/* ==|== admin/seminars view styles =========================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

$participant-status-title-font: 22px/32px $header-font-family;

$participant-border-color: #aaaadd;
$participant-moved-border-color: #aaaadd;
$masters-color: #ddffff;
$phd-color: #ffdddd;
$postdoc-color: #ddddff;

/* ==|== participant legend & participant list styles ======================= */
#participant-legend,
.participants-list {

  li.moved { border: 1px solid #aaaadd !important; }
  li.phd { background: #ffdddd; border: 1px solid #aaaadd; }
  li.masters { background: #ddffff; border: 1px solid #aaaadd; }
  li.postdoc { background: #ddddff; border: 1px solid #aaaadd; }
}

#participant-legend {
  position: absolute;
  right: -110px;
  top: 50px;
  width: 100px;

  > ul {
    list-style-type: none;

    li { 
      margin: 5px 7px; 
      padding: 1px 5px; 
    }
  }
}

.seminar-listing.admin {
  h2 { 
    background: none;
    color: #000000;
    float: left;
    font: $participant-status-title-font;
    margin: 0 1%;
    padding: 1%;

    &.confirmed { width: 50%;}
    &.pending { width: 20%; }
  }
  

  p.date {
    font-weight: bold;
    margin-left: 10px;
  }
}

ul.participants-list {
  border: 1px solid #949494;
  float: left;
  list-style-type: none;
  margin: 0 1%;
  min-height: 400px;
  position: relative !important;
  padding: 1%;

  &#registered-participants { width: 62%; }
  &#waitlisted_participants { width: 29%; }

  li {
    border: 1px solid #cccccc;
    clear: left;
    margin: 5px;
    float: left;
    height: 50px;
    width: 193px;

    a { line-height: 40px; padding: 5px; text-decoration: none; color: inherit; padding: 5px; display: block;
    &:hover { background-color: #dddddd; }
    }
    img { width: 30px; margin-right: 5px; }
    &#add-participant { border-style: dashed; text-transform: uppercase; letter-spacing: 1px; }
    /*&.ui-draggable-dragging {  border: 3px solid #aaaadd !important; height: 44px; width: 186px; }*/
/*    &.ui-draggable-dragging { border: 1px solid red; height: 50px; position: absolute}*/
  }

}

.add-participant-form {
  line-height: 40px; padding: 5px; text-decoration: none; color: inherit; padding: 5px; display: block;
  position: relative;

  input[type="text"] { width: 140px; border: 1px solid #cccccc; padding: 5px 3px; position: relative; }
}


.attendance-form {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  top: 100%;
  display: none;
  left: 10px;
  line-height: 18px;
  margin-top: -10px;
  padding: 10px;
  position: absolute;
  width: 180px;
  z-index: 999;

  input[type="radio"] {
    clear: left;
    float: left;
    margin: 5px;
    vertical-align: middle;
  }
  
  label {
    float: left;
  }
}


/* ==|== seminar new & edit forms styles ==================================== */
div#errorExplanation {
  background: #ffccba; 
  border: 1px solid #d9332c; 
  clear: both; 
  float: left; 
  margin-top: 15px; 
  padding: 0 15px; 
  width: 470px;

  h2 {
    line-height: 32px;
    vertical-align: middle;

    &:before { 
      background: url('validation-error.png');
      content: '';
      display: block;
      float: left;
      height: 32px;
      margin-right: 5px;
      width: 32px;
    }
  }
}
#ui-datepicker-div { background: #ffffff; padding: 10px; }
.ui-datepicker-calendar { background: #ffffff; border: 1px solid black; }

.seminar_form {
  padding: 15px;

  .timepicker { width: 100px; }
  .ui-datepicker-trigger { padding-left: 5px; width: 25px; }



  h1 { float: left; min-height: 50px; width: 200px; }

  label { float: left; font: 16px "helvetica","sans-serif"; margin-right: 10px; padding: 10px 0; }
  input { margin: 10px 0; }
  select { margin: 10px 0; }
  input#seminar_title { width: 425px; }

  .maximum_capacity {
    background: #d4d4d4; 
    color: #ffffff; 
    float: left; 
    font: bold 28px "helvetica","sans-serif"; 
    line-height: 50px; 
    margin: 0px 0 0 5px; 
    padding: 5px 7px; 

    input { width: 40px; height: 35px; margin: 0; padding: 0; }
  }

  label[for="seminar_end_at"] { clear: left; }
  label[for="seminar_location"] { clear: left; }
  input#seminar_location { width: 394px; }
  label[for="seminar_description"] { clear: left; }
  select#seminar_seminar_status_id { width: 300px; }
  input[type="submit"] { clear: left; width: 25%; }

  .main_content { clear: left; margin-bottom: 20px; padding: 11px; }
  .field_with_errors {
    background: inherit; 
    margin: 0; 
    padding: 0; 
    float: left;

    label {
      border-left: 5px solid #d9332c; 
      margin-left: -10px; 
      padding-left: 10px; 
    }
  }
}