/* ==|== admin spreadsheets styles ==========================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

/* ==|== participants spreadsheet styles ==================================== */

#participants-spreadsheet_wrapper {
  background-image: -ms-linear-gradient(bottom, #c3c9c7 0%, #fafafa 100%);
  background-image: -moz-linear-gradient(bottom, #c3c9c7 0%, #fafafa 100%);
  background-image: -o-linear-gradient(bottom, #c3c9c7 0%, #fafafa 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c3c9c7), color-stop(1, #fafafa));
  background-image: -webkit-linear-gradient(bottom, #c3c9c7 0%, #fafafa 100%);
  background-image: linear-gradient(to top, #c3c9c7 0%, #fafafa 100%);
  overflow:auto;
}

table#participants-spreadsheet {
  border: 3px solid #939598;
  font: 12px/18px "TitilliumText22LLight", sans-serif;
	
  tr { 
     border-bottom: 1px solid #efefef;
     overflow: auto;
	
		&.even {
			background-color: #EFF4E3;
			}
		
		&.odd {
			background-color: #FFFFFF;
			}

   		td {
      		padding: 14px 30px 10px 15px !important;
	  		}
			
		div.reg {
				position: relative;
				left:-700px;
				width: 500px;
				display:block;
				border:1px solid #ccc;
				padding:20px;
				margin:0;
				float:left;
				background-color:#efefef;		
				}			
	  
		th {
			padding: 21px 30px 10px 15px;
			text-align:left;
    		color:#ffffff;
    		font: 14px/18px "TitilliumText22LBold", sans-serif;
    		background-color:#939598;
    		border-right:1px solid #ccc;
			
  			a {
    			background: #eeeeee;
    			border: 1px solid #bbbbbb;
    			padding: 10px 15px 8px 15px;
    			text-decoration: none;
				cursor:pointer;
		
				&.hover {
					background:#939598;
					color:#fff;
					font: 16px/18px "TitilliumText22LBold", sans-serif;
					}
			
				&.active {
					background:#939598;
					color:#fff;
					font: 16px/18px "TitilliumText22LBold", sans-serif;
					}
			}
		}	
  	}
}



table.dataTable {
margin: 0 auto;
clear: both;
width: 100%;
}

table.dataTable thead th {
padding: 3px 18px 3px 10px;
border-bottom: 1px solid black;
font-weight: bold;
cursor: pointer;
*cursor: hand;
}

table.dataTable tfoot th {
padding: 3px 18px 3px 10px;
border-top: 1px solid black;
font-weight: bold;
}

table.dataTable td {
padding: 3px 10px;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
text-align: center;
}

table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }


/*
* Table wrapper
*/
.dataTables_wrapper {
position: relative;
clear: both;
*zoom: 1;
padding: 20px;
}


/*
* Page length menu
*/
.dataTables_length {
float: left;
margin:0;
display:block;
padding:0px 20px 15px 20px;
}


/*
* Filter
*/
.dataTables_filter {
float: right;
padding:0px 20px 12px 20px;
}


/*
* Table information
*/
.dataTables_info {
clear: both;
float: left;
}


/*
* Pagination
*/
.dataTables_paginate {
float: right;
text-align: right;
background-color:#fff;
  padding:10px 6px 6px;
  border:1px solid #999;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
height: 19px;
float: left;
cursor: pointer;
*cursor: hand;
color: #111 !important;
  padding:3px 6px 3px;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
padding-right: 23px;
margin-left: 10px;
}

.paginate_enabled_previous { background: image-url('dataTables/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: image-url('dataTables/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: image-url('dataTables/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: image-url('dataTables/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: image-url('dataTables/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: image-url('dataTables/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
height: 22px;
line-height: 22px;
}
.paging_full_numbers a:active {
outline: none
}
.paging_full_numbers a:hover {
text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
border: 1px solid #aaa;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 2px 5px;
margin: 0 3px;
cursor: pointer;
*cursor: hand;
color: #333 !important;
}

.paging_full_numbers a.paginate_button {
background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
background-color: #ccc;
text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
background-color: #99B3FF;
}


/*
* Processing indicator
*/
.dataTables_processing {
position: absolute;
top: 50%;
left: 50%;
width: 250px;
height: 30px;
margin-left: -125px;
margin-top: -15px;
padding: 14px 0 2px 0;
border: 1px solid #ddd;
text-align: center;
color: #999;
font-size: 14px;
background-color: white;
}


/*
* Sorting
*/
.sorting { background: image-url('dataTables/sort_both.png') no-repeat center right; }
.sorting_asc { background: image-url('dataTables/sort_asc.png') no-repeat center right; }
.sorting_desc { background: image-url('dataTables/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: image-url('dataTables/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: image-url('dataTables/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable th:active {
outline: none;
}


/*
* Scrolling
*/
.dataTables_scroll {
clear: both;
}

.dataTables_scrollBody {
*margin-top: -1px;
}

