/* ==|== admin spreadsheets styles ==========================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";


/* ==|== participants spreadsheet styles ==================================== */

table#participants-spreadsheet {
  border: 3px solid #939598;
  font: 12px/18px "TitilliumText22LLight", sans-serif;
	
	tr { 
    border-bottom: 1px solid #efefef;
    overflow: auto;
	padding: 14px 30px 10px 15px;
	
	&.evenrow {
		background-color: white;
		}
		
	&.oddrow {
		background-color: #efefef;
		}
	}

    th {
		padding: 21px 30px 10px 15px;
		text-align:left;
    	color:#ffffff;
    	font: 14px/18px "TitilliumText22LBold", sans-serif;
    	background-color:#939598;
    	border-right:1px solid #ccc;
	
		&.sortable {
			cursor: pointer;
	}
	
	td {
      padding: 14px 30px 10px 15px;
    } 
  }               

  a {
    background: #eeeeee;
    border: 1px solid #bbbbbb;
    padding: 10px 15px 8px 15px;
    text-decoration: none;
	
	&.hover {
		background:#939598;
		color:#fff;
		font: 16px/18px "TitilliumText22LBold", sans-serif;
	}
	
	&.active {
		background:#939598;
		color:#fff;
		font: 16px/18px "TitilliumText22LBold", sans-serif;
	}	
  }
}
