<p>
  Eberly Center for Teaching Excellence<br/>
  &amp; Educational Innovation<br/>
  <%= link_to "www.cmu.edu/teaching", "http://www.cmu.edu/teaching" %><br/>
  <%= link_to "www.eberly.cmu.edu/services/graduate-students",
      "http://www.eberly.cmu.edu/services/graduate-students" %><br/>
  <%= link_to "seminars.eberly.cmu.edu", "https://seminars.eberly.cmu.edu" %>
</p>
