<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>
Dear <%= @participant.name %>,
</p>

<p>
Congratulations. A space has opened up for you in <%= @registration.seminar.title %>. To view or change your enrollment status, please visit:
</p>

<p>
<a href="http://seminars.eberly.cmu.edu">http://seminars.eberly.cmu.edu</a>
</p>


<p>
If you are no longer interested or able to attend, please cancel. This will help us accommodate more of your fellow students. 
</p>

<p>
Thank you for your interest in the Eberly graduate seminar series! We hope to see you soon.
</p>

  </body>
</html>
