<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>
      Dear <%= @registration.participant.name %>,
    </p>
    
    <p>
      You have requested to attend “<%= @registration.seminar.title
      %>” on <%= @registration.seminar.formatted_timespan_safe
      %>. Unfortunately, a space in this seminar is not currently
      available.
    </p>

    <p>
      If you are still interested in attending this seminar, you do
      not need to take further action. We will continue to confirm
      students until the day of the seminar, and we will email you if
      a space becomes available.
    </p>

    <p>
      If you are no longer interested in or able to attend this
      seminar, please log in to cancel your request as soon as
      possible so we can accommodate other interested graduate
      students. If you are a no-show for a seminar (i.e., are
      confirmed for a seminar but don’t cancel or attend) more than
      once, you will be moved to the waitlist for the semester’s
      remaining seminars.
    </p>
    
    <p>
      <a href="http://seminars.eberly.cmu.edu">http://seminars.eberly.cmu.edu</a>
    </p>
    
    <p>
      Thank you for your interest, and we hope to work with you in the
      future!
    </p>

    <%= render :partial => 'signature' %>

  </body>
</html>
