<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>
Dear <%= @registration.participant.name %>,
</p>

<p>
You are currently on the waitlist for this Eberly seminar:
</p>

<%= @registration.seminar.title %>

<p>To view or change your seminar enrollment, please visit:</p>

<p>
<a href="http://seminars.eberly.cmu.edu">http://seminars.eberly.cmu.edu</a>
</p>

<p>
If you are no longer interested or able to attend, please cancel early so we can offer your spot to a fellow graduate student. 
</p>

<p>
Thank you for your interest in the Eberly graduate seminar series! We hope to see you soon.
</p>

  </body>
</html>
