<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>
Dear <%= @participant.name %>,
</p>

<p>
We have received your request to enroll in the <%= @registration.seminar.title %> teaching seminar. Thank you for your interest!
</p>

<p>
You will receive an email within 10 days indicating your enrollment status, but you can view or change your seminar requests and see a transcript of your Eberly activities at any time at: 
</p>
<p>
<a href="http://seminars.eberly.cmu.edu">http://seminars.eberly.cmu.edu</a>
</p>
<p>
If you are no longer interested or able to attend, please cancel your request so we can offer your spot to a fellow graduate student. 
</p>
<p>
We hope to see you soon.
</p>
<p>
Graduate Coordinator
</p>

  </body>
</html>
