/* ==|== graduate student support definitions ===============================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
$cmu-red: #990000;
$cmu-red-text: #a91e23;

$site-min-width: 960px;

$header-font-family: 'TitilliumText22LRegular', sansserif;
$header-font-family-bold: 'TitilliumText22LBold', sans-serif;
$body-font-family: 'TitilliumText22LRegular', sans-serif;

$page-header-font: 24px $header-font-family;
$page-header-font-color: $cmu-red-text;
$page-header-border-color: #bbbbbb;

$left-column-width: 255px;

$success-color: #a1c44f;

$seminars-color: #a1c44f;
$workshops-color: $success-color;


$site-search-input-border-color: #bbbbbb;
$site-search-font: 18px/22px helvetica, sans-serif;

$flash-font-family: helvetica, sans-serif;
$flash-font: 14px $flash-font-family;

$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;

$footer-background-color: #464646;
