/* ==|== navigation styles ==================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

$site-nav-font-family: 'TitilliumText22LRegular', sans-serif;
$site-nav-font: 16px/20px $site-nav-font-family;
$admin-nav-font: 16px/18px $site-nav-font-family;


/* ==|== utility nav styles ================================================= */
#utility-nav {
  margin-top: 30px;

  h1 {
    font: 14px/16px $header-font-family-bold;
    margin: 0 0 0 25px;
  }
  
  ul {

    li {
      font-size: 12px;
      padding: 0 15px 0 25px;

      &.login {
	color: #ffffff;
	font: 20px/36px helvetica, arial, sans-serif;

	a {
          background-color: $cmu-red;
	  color: inherit;
	  display: block;
	  padding-left: 25px;
	  position: relative;
	  left: -25px;
	  text-decoration: none;


	  &:after {
            content: '';
            border: solid transparent;
	    border-left-color: $cmu-red;
	    border-width: 18px 0 18px 18px;
	    position: absolute;
	    right: -18px;
	    height: 0px;
	    width: 0px;
          }

	  &:hover {

          }
	  span.capitalize {
	    letter-spacing: 4px;
	    text-transform: uppercase;
          }	  
        } /* a */
      } /* .login */

      &.name {
        font-size: 16px;
      } /* .name */

      &.email { margin-bottom: 0px; line-height: 21px; }

      &.logout {
        display: block;
        font-size: 13px;
		line-height: 21px;
		display:block;

        a {
	  color: inherit;
	  letter-spacing: 4px;
	  text-decoration: none;
	  text-transform: uppercase;
	  padding: 5px 10px 3px 10px;
	  margin: 2px 2px 2px -10px;
	  display:block;

	  &:before { content: "[ "; }
	  &:after { content: " ]"; }
        }
		
		a:hover {
		background:#990000;
		color:#fff;
		font: 13px/21px "TitilliumText22LBold", sans-serif;
		}
		
		
      } /* .logout */
    } /* li */
  } /* ul */
}


/* ==|== admin nav styles =================================================== */

#admin-nav {
  margin: 25px 6px 6px 20px;
  padding: 0;

  ul {
    background: #ffffff;
    border:1px solid #7D9E4A;
    margin-right: 18px;
    padding: 15px 0;

    li {

      a {
        color:#7D9E4A;
        display: block;
        font: $admin-nav-font;
        padding: 15px;
    	text-decoration: none;

        &.active {
          background: #939598;
          color: #ffffff;
          margin: 0;
        }

        &.hover {
          background: #939598;
          color: #fff;
          margin:0;
        }
      }
    } /* li */

    &.primary-add {
      border: none;
      font: $site-nav-font;
      margin: 0 18px 18px 0;
      padding: 0;

      li {

        a {
          background: #A1C44F;
          border: 1px solid #7D9E4A;
          color: #fff;
	  height: 100%;
          padding: 12px 15px;
          text-decoration: none;
		
          &:before {
	    border-right: 1px solid #ffffff;
            content: '+';
            font: 24px/20px $site-nav-font-family;
            margin-right: 12px;
            padding: 12px 12px 10px 0;
          }

          &.active {
            background: #7D9E4A;
            color: #fff;
          }

          &.hover {
            background: #7D9E4A;
            color:#fff;
          }

        }
      }
    } /* .primary-add */
  } /* ul */
}


/* ==|== site nav styles ==================================================== */
#site-nav {
  margin: 25px 0 0 25px;

  ul {
  
    li {
      background: #ffffff;
      border: 1px solid #939598;
      color: #939598;
      float: left;
      font: $site-nav-font;
      height: 100px;
      margin: 0 5px 5px 0;
      padding: 20px;
      position: relative;
      width: 100px;

      &.primary { 
        border-color: #7D9E4A;
        color: #94b840;
	&.active:before { border-color: #7D9E4A; }
      }

      &.active {
        border-width: 3px;
	padding: 18px;

        &:before {
          border: 7px solid;
          border-right-color: transparent !important;
          border-bottom-color: transparent !important;
          content: '';
          height: 0px;
          left: 0;
          position: absolute;
          top: 0;
          width: 0px;
        }
      }

      a {
        color: inherit;
	text-decoration: none;
      }

      img {
        bottom: 5px;
	width: 20px;
        position: absolute;
	right: 5px;
      }

    }
  }
}
