/* ==|== primary styles =====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

/* ==|== global styles ====================================================== */
body {
  margin: 0;
  min-width: $site-min-width;
  padding: 0;
  width: 100%;

  @include body-gradient( $body-gradient-start, $body-gradient-end );
}

a.indicates-more:after { content: "..."; }

/* ==|== cmu bar styles ===================================================== */
#cmu-bar-container {
  background: $cmu-red;
  height: 35px;
  vertical-align: middle;
  width: 100%;

  #cmu-bar {
  }
}


/* ==|== page header styles ================================================= */
#page-header {
  background: #ffffff;
  border-bottom: 1px solid $page-header-border-color;
  clear: left;
  float: left;
  height: 100px;
  width: 100%;

  #banner {
    float: left;
    width: 540px;
    
    h1 {
      color: $page-header-font-color;
      float: left;
      font: $page-header-font;
      margin: 55px 0 0 0;
      vertical-align: middle;
    }

    #wordmark {
      clear: left;
      float: left;
      width: $left-column-width;
      margin-top: 10px;
      
      img { margin: 10px; width: 200px; }
    }
  } /* banner */

  .header-content {
    float: left;
    position: relative;
    margin-left: 10px;
    width: $site-min-width - 550px;
  }

  #site-search {
    float: left;
    height: 40px;
    margin-top: 35px;
    width: 100%;

    input[type="text"] {
      background: $site-search-bg-color;
      border: 1px solid $site-search-input-border-color;
      float: left;
      font: $site-search-font;
      height: 35px;
      width: 100%;
    }
    
    input[type="image"] {
      border-left: none;
      right: 5px;
      margin: 3px;
      position: absolute;
      width: 33px;
    }
  }

} /* page-header */


/* ==|== column styles ====================================================== */
.sidebar {
  float: left;
  
  &.left {
    clear: left;
    width: $left-column-width;
  }

  p.sidebar-note { padding: 25px 55px 25px 25px; }
}


/* ==|== page footer styles ================================================= */
#page-footer {
  background-color: $footer-background-color;
  clear: both; 
  color: #ffffff;
  float: left;
  font: 12px "Helvetica","Sans-Serif";
  margin: 100px 0 0 0;
  text-align: center;
  width: 100%;

  nav {
    float: left;
    letter-spacing: 1px;
    margin: 30px 15px 50px 15px;
    text-align: left;
    width: 615px;

    ul {

      li {
        display: inline;

	&:after { 
	  content: " | "; 
	  margin: 0 5px; 
	}

	&:last-child:after {
	  content: '';
	  margin: 0;
	}

	a {
          color: inherit;
          padding: 4px 6px;
          text-decoration: none;

          &:hover {
            border: 1px solid #ffffff;
            padding: 3px 5px;
          }
        }
      } /* li */
    } /* ul */
  } /* nav */

  p {
    float: left;
    font-weight: bold;
    margin: 30px 0 50px 15px;
    padding: 0;
    text-align: right;
    width: 300px;
  }
} /* page-footer */


/* ==|== flash message styles =============================================== */
div.flash {
  border-bottom: 1px solid;
  display: none;
  float: left; 
  font: $flash-font;
  margin: 0;
  min-height: 48px;
  width: 100%;

  &.notice {
    background: #fff380;
    border-color: #fdd017;
  }

  &.error {
    background: #ffaaaa;
    border-color: #ff0000;
  }

  &.success {
    background: #aaffaa;
    border-color: #00dd00;
  }

  p {
    padding: $padding-small;
    padding-left: $left-column-width + $padding-small;
  }
}


/* ==|== main content styles ================================================ */
#content {
  background: #ffffff;
  float: left;  
  margin-top: 42px;

  a.boxy {
    background: #bbbbbb;
    border: 1px solid #bbbbbb;
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: $padding-small/2 $padding-small;
    text-align: center;
    text-decoration: none;
    
    &.inactive {
      background: #ffffff;
      color: #bbbbbb;
    }
  }

}









ul.ui-autocomplete { position: absolute; background-color: #ffffff; padding: 5px; margin: 5px 0; }

#impersonate_participant { border: 1px solid #ffd700; background-color: #fffacd; width: 330px; position: absolute; top: 0; padding: 2px 30px; left: 320px; width: 500px; z-index: 99; }
#impersonate_participant p:first-child { text-align: left; }
#impersonate_participant p { margin: 0; padding: 0; text-align: center; clear: left; }
.impersonate-widget { display: none; padding: 10px; }
.impersonate-widget ul li:last-child { clear: right; }

.impersonate-widget ul li { float: left; width: 33%; margin-bottom: 20px; }
.impersonate-widget ul li a { margin-left: 10px; }

#registrations a { text-decoration: none; }
#registrations ul { list-style-type: none; margin: 0; padding: 0; }
ul  { list-style-type: none; margin: 0; padding: 0; }
#registrations li h1 { font: 300 18px "helvetica","sans-serif"; margin-top: 10px; min-height: 30px; width: 80%; margin-bottom: 5px; }
#registrations p { clear: left; display: none; }
#registrations input[type="checkbox"] { margin-top: 18px; margin-left: 18px; clear: left; float: left; line-height: 30px; vertical-align: middle; }
