.attendance {
    text-align: center;

    .fa-ban { color: #aaa; }
    .fa-check-circle { color: #a1c44f; }
    .fa-adjust { color: #e3b31c; }
    .fa-times,
    .fa-times-circle { color: #990000; } 
}

.at-btn {
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
    border-radius: 8px;
}
#at_filter {
    background-color: #000;
    color: #fff;
}

#population_details > div:first-child {
    min-height: 30px;
}

table {
    background-color: #fff;
}

table td, table th {

    padding: 10px;
    border-left: 1px solid #aaa; 
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}

.p_select { text-align: center; }

/* ==|== primary styles =====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

/* ==|== bootstrap override ================================================= */
.panel {
    border-radius: 0;
    border: none;
    box-shadow: none;

    h2 {
        font: 20px/32px 'OpenSansLight', sans-serif;
        padding: 0;
        margin: 10px 0 0 0;
        vertical-align: middle;
    }

    .list-group {
        
        .list-group-item {
            border: none;
            line-height: 20px;
            font-family: 'OpenSansLight', sans-serif;
            padding: 5px 15px; 

            
            h2 {
                font: 16px 'OpenSansRegular', sans-serif;
                
                small {
                    font-size: 87.5%;
                }
                a {
                    color: #999;
                    font-weight: normal;
                    text-decoration: none;
                }
            }
            .list-group-item-text {
                padding-left: 0;
            }
        }
    }

  .panel-heading {
      border-radius: inherit;
      background: #bbb;
      color: #fff;
      padding: 5px $padding-small;
      vertical-align: middle;

      &.notifications {
          background: #ffff33;
          color: #000;

          span.glyphicon {
              font-size: 1.5em;
              vertical-align: middle;
              margin-left: 20px;
          }
      }
      
      &.seminars {
        background: #94b840;
      }

      &.requirement-category-label {
        background: #e3b31c;
      }

      .panel-title {
      margin: 0;
      font: 24px/28px 'OpenSansLight', sans-serif;
      padding: 0;

      }
  }
}
.btn {
    border-radius: 2px;
    color: #fff;

    &:hover { color: #fff; }

    &.btn-default {
        color: #bbb;
        &:hover { color: #fff; background-color: #bbb; }
    }
    
    &.btn-primary {
        background-color: #bbb;
        border-color: #bbb;
        &:hover { border-color: #999; }
    }

    &.btn-create {
        background-color: $seminars-color;
        border: 1px solid #7D9E4A;
    }

    .glyphicon {
        font-size: 90%;
    }

}

/* ==|== global styles ====================================================== */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
.row {
    max-width: 1020px;
}

a.indicates-more:after { content: "..."; }

/* ==|== cmu bar styles ===================================================== */
#cmu-bar-container {
  background: $cmu-red;
  height: 35px;
  vertical-align: middle;

  #cmu-bar {
  }
}


/* ==|== page header styles ================================================= */
#page-header {
  background: #ffffff;
  border-bottom: 1px solid $page-header-border-color;

  .row {
      height: 80px;
      padding: 10px 0 18px;
  }

  .banner {
      display: table;
      height: 100%;
      margin-left: -15px;
      margin-top: 3px;
      
      h1 {
          color: $page-header-font-color;
          font: $page-header-font;
          display: table-cell;
          vertical-align: bottom;
      }
  }
  
  .wordmark {
      display: table;
      height: 100%;
      padding: 0 20px 0 20px;

      a {
          display: table-cell;
          vertical-align: bottom;
      }

      img { width: 200px; }

  } /* wordmark */

  .header-content {
      display: table;
      height: 100%;
      margin-right: -35px;
      
      form {
          display: table-cell;
          vertical-align: bottom;
      }
  }

  #site-search {
      .input-group { width: 100%; }
      
      input[type="text"] {
          border: 1px solid $site-search-input-border-color;
          font: $site-search-font;

      }
  }

} /* page-header */


/* ==|== column styles ====================================================== */
.sidebar {
    padding: 0;
    
    p.sidebar-note { padding: 25px 55px 25px 25px; }
}


/* ==|== page footer styles ================================================= */
#page-footer {
  background-color: $footer-background-color;
  clear: both; 
  color: #ffffff;
  float: left;
  font: 12px "Helvetica","Sans-Serif";
  margin: 100px 0 0 0;
  text-align: center;
  width: 100%;

  nav {
    float: left;
    letter-spacing: 1px;
    margin: 30px 15px 50px 15px;
    text-align: left;
    width: 615px;

    ul {

      li {
        display: inline;

	&:after { 
	  content: " | "; 
	  margin: 0 5px; 
	}

	&:last-child:after {
	  content: '';
	  margin: 0;
	}

	a {
          color: inherit;
          padding: 4px 6px;
          text-decoration: none;

          &:hover {
            border: 1px solid #ffffff;
            padding: 3px 5px;
          }
        }
      } /* li */
    } /* ul */
  } /* nav */

  p {
    float: left;
    font-weight: bold;
    margin: 30px 0 50px 15px;
    padding: 0;
    text-align: right;
    width: 300px;
  }
} /* page-footer */


/* ==|== flash message styles =============================================== */
div.flash {
  border-bottom: 1px solid;
  display: none;
  float: left; 
  font: $flash-font;
  margin: 0;
  min-height: 48px;
  width: 100%;

  &.notice {
    background: #fff380;
    border-color: #fdd017;
  }

  &.error {
    background: #ffaaaa;
    border-color: #ff0000;
  }

  &.success {
    background: #aaffaa;
    border-color: #00dd00;
  }

  p {
    padding: $padding-small;
    padding-left: $left-column-width + $padding-small;
  }
}


/* ==|== main content styles ================================================ */
#content {
/*  background: #ffffff;*/
  margin-top: 42px;
  padding: 0;
  
  a.boxy {
    background: #bbbbbb;
    border: 1px solid #bbbbbb;
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: $padding-small/2 $padding-small;
    text-align: center;
    text-decoration: none;

    &.success {
      background: #fff;
      color: #bbb;        
    }
    
    &.inactive {
      background: #ffffff;
      color: #bbbbbb;
    }
  }

  /*& > section { border: 1px solid #bbb; }*/

}









ul.ui-autocomplete { position: absolute; background-color: #ffffff; padding: 5px; margin: 5px 0; }

#impersonate_participant { border: 1px solid #ffd700; background-color: #fffacd; width: 330px; position: absolute; top: 0; padding: 2px 30px; left: 320px; width: 500px; z-index: 99; }
#impersonate_participant p:first-child { text-align: left; }
#impersonate_participant p { margin: 0; padding: 0; text-align: center; clear: left; }
.impersonate-widget { display: none; padding: 10px; }
.impersonate-widget ul li:last-child { clear: right; }

.impersonate-widget ul li { float: left; width: 33%; margin-bottom: 20px; }
.impersonate-widget ul li a { margin-left: 10px; }

#registrations a { text-decoration: none; }
#registrations ul { list-style-type: none; margin: 0; padding: 0; }
ul  { list-style-type: none; margin: 0; padding: 0; }
#registrations li h1 { font: 300 18px "helvetica","sans-serif"; margin-top: 10px; min-height: 30px; width: 80%; margin-bottom: 5px; }
#registrations p { clear: left; display: none; }
#registrations input[type="checkbox"] { margin-top: 18px; margin-left: 18px; clear: left; float: left; line-height: 30px; vertical-align: middle; }

.add-participant-activity-form { clear: both;
                                 textarea,
                                 input { width: 100%; margin-bottom: 5px;}
                               }
