/* ==|== primary styles =====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== global styles ====================================================== */
body { background-color: margin: 0; padding: 0; }

a.indicates_more:after { content: "..."; }

/* ==|== cmu bar styles ===================================================== */
#cmu_bar { background: #990000; width: 100%; vertical-align: middle; height: 35px;}

.cmu-boxbutton {
    border: 1px solid #D4D4D4;
    font-size: 9px;
    letter-spacing: 0.5px;
    margin: 0 0 0 3px;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

/* ==|== page header styles ================================================= */
/* page_header
     banner
     search
*/

#page_header { margin-left: 50px; }
#banner img.wordmark { float: left; margin-right: 40px; }
#banner h1 { font:300 36px "Open Sans"; margin-bottom: 0; padding-top: 22px; }
#search input[type="text"] { border: 1px solid #bbbbbb; float: left; font-size: 32px; height: 50px; margin-left: 275px; margin-top: 0; width: 500px; }
#search input[type="image"] { margin-top: 0; margin-left: 10px; }

