/* ==|== primary styles =====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

/* ==|== global styles ====================================================== */
body {
  margin: 0;
  min-width: $site-min-width;
  padding: 0;
  width: 100%;

  @include body-gradient( $body-gradient-start, $body-gradient-end );
}

a.indicates-more:after { content: "..."; }

/* ==|== cmu bar styles ===================================================== */
#cmu-bar-container {
  background: $cmu-red;
  height: 35px;
  vertical-align: middle;
  width: 100%;

  #cmu-bar {
  }
}


/* ==|== page header styles ================================================= */
#page-header {
  background: #ffffff;
  border-bottom: 1px solid $page-header-border-color;
  clear: left;
  float: left;
  height: 100px;
  margin-bottom: 30px;
  width: 100%;

  #banner {
    float: left;
    width: 540px;
    
    h1 {
      color: $page-header-font-color;
      float: left;
      font: $page-header-font;
      margin: 55px 0 0 0;
      vertical-align: middle;
    }

    #wordmark {
      clear: left;
      float: left;
      width: $left-column-width;
      margin-top: 10px;
      
      img { margin: 10px; width: 200px; }
    }
  } /* banner */

  .header-content {
    float: left;
    position: relative;
    margin-left: 10px;
    width: $site-min-width - 550px;
  }

  #site-search {
    float: left;
    height: 40px;
    margin-top: 35px;
    width: 100%;

    input[type="text"] {
      background: $site-search-bg-color;
      border: 1px solid $site-search-input-border-color;
      float: left;
      font: $site-search-font;
      height: 35px;
      width: 100%;
    }
    
    input[type="image"] {
      border-left: none;
      right: 5px;
      margin: 3px;
      position: absolute;
      width: 33px;
    }
  }

} /* page-header */


/* ==|== column styles ====================================================== */
.sidebar {
  float: left;
  
  &.left {
    clear: left;
    width: $left-column-width;
  }

  p.sidebar-note { padding: 25px 55px 25px 25px; }
}


/* ==|== page footer styles ================================================= */
#page-footer {
  background-color: $footer-background-color;
  clear: both; 
  color: #ffffff;
  float: left;
  font: 12px "Helvetica","Sans-Serif";
  margin: 100px 0 0 0;
  text-align: center;
  width: 100%;

  nav {
    float: left;
    letter-spacing: 1px;
    margin: 30px 15px 50px 15px;
    text-align: left;
    width: 615px;

    ul {

      li {
        display: inline;

	&:after { 
	  content: " | "; 
	  margin: 0 5px; 
	}

	&:last-child:after {
	  content: '';
	  margin: 0;
	}

	a {
          color: inherit;
          padding: 4px 6px;
          text-decoration: none;

          &:hover {
            border: 1px solid #ffffff;
            padding: 3px 5px;
          }
        }
      } /* li */
    } /* ul */
  } /* nav */

  p {
    float: left;
    font-weight: bold;
    margin: 30px 0 50px 15px;
    padding: 0;
    text-align: right;
    width: 300px;
  }
} /* page-footer */


/* ==|== main content styles ================================================ */
#content {
  background: #ffffff;
  float: left;  
  margin-top: 12px;

  div.flash {
    border: 1px solid;
    display: none;
    font: $flash-font;
    margin: 0px -1px 20px -1px;
    min-height: (48px - $padding-small*2);
    padding: $padding-small;

    &.notice {
      background: #fff380;
      border-color: #fdd017;
    }

    &.error {
    }
  }

}


div.capacity_meter { border: 1px solid #bbbbbb; height: 14px; position: relative; }
div.capacity_meter > span { background-color: #bbbbbb; display: block; height: 100%; overflow: hidden; position: relative; }







#impersonate_participant { border: 1px solid #ffd700; background-color: #fffacd; width: 330px; position: absolute; top: 0; padding: 2px 30px; left: 320px; width: 500px; z-index: 99; }
#impersonate_participant p:first-child { text-align: left; }
#impersonate_participant p { margin: 0; padding: 0; text-align: center; clear: left; }
.impersonate-widget { display: none; padding: 10px; }
.impersonate-widget ul li:last-child { clear: right; }

.impersonate-widget ul li { float: left; width: 33%; margin-bottom: 20px; }
.impersonate-widget ul li a { margin-left: 10px; }

#admin_nav { position: absolute; top: 50px; right: 20px; }
#admin_nav a { color: #d17702; }
#admin_nav a:hover { background-color: #ffffff; }



ul.ui-autocomplete { position: absolute; background-color: #ffffff; padding: 5px; margin: 5px 0; }






/*
section.dialog { border: 1px solid #d4d4d4; float: left; padding: 0; margin: 0 2px 2px 0; }
section.dialog > h1 { background: #d4d4d4; color: #ffffff; font: bold 28px "helvetica","sans-serif"; padding: 5px 7px; margin: 0; }
//.dialog a { padding: 4px 6px; }
//.dialog a:hover { background-color: #ffffff; border: 1px solid #808283; padding: 3px 5px; }
.dialog a:hover { color: #bbbbbb; background-color: inherit; } 
*/


#registrations a { text-decoration: none; }
#registrations ul { list-style-type: none; margin: 0; padding: 0; }
ul  { list-style-type: none; margin: 0; padding: 0; }
#registrations li h1 { font: 300 18px "helvetica","sans-serif"; margin-top: 10px; min-height: 30px; width: 80%; margin-bottom: 5px; }
#registrations p { clear: left; display: none; }
#registrations input[type="checkbox"] { margin-top: 18px; margin-left: 18px; clear: left; float: left; line-height: 30px; vertical-align: middle; }


div#errorExplanation { background: #ffccba; border: 1px solid #d9332c; clear: both; float: left; margin-top: 15px; padding: 0 15px; width: 470px; }
div#errorExplanation h2 { line-height: 32px; vertical-align: middle; }
div#errorExplanation h2:before { background: url('validation-error.png'); content: ''; display: block; float: left; height: 32px; margin-right: 5px; width: 32px; }
/*
#seminar-listing { width: 500px; float: left; }
#seminar-listing h1 { float: left; width: 136px; padding: 5px 7px; }
#seminar-listing h1:first-child { margin-right: 5px; width: 331px; }
#seminar-listing h1 img { height: 34px; margin-right: 20px; }

#seminar-listing table { width: 100%; margin-bottom: 20px; }
#seminar-listing td { line-height: 18px; padding: 20px 20px 0 20px; vertical-align: middle; width: 150px; }
#seminar-listing td:first-child { color: #666666; font: 300 15px "helvetica","sans-serif"; padding-right: 0; width: 350px; }
#seminar-listing td:first-child a { color: inherit; text-decoration: inherit; }
#seminar-listing td:first-child a:hover { color: #666666; }

#seminar-listing a.button { background-color: #b4b4b4; color: #ffffff; padding: 5px; margin: 20px; float: left; font-size: 18px; text-decoration: none; }
td a.button { background-color: #b4b4b4; color: #ffffff; padding: 1px 6px; float: right; position: relative; right: 0; font-size: 18px; text-decoration: none; }
*/



#seminar_listings .listing { padding: 10px; border: 1px solid #cccccc; float: left; width: 480px; }
#seminar_listings h1 { float: left; }
#seminar_listings h1.capacity { height: 37px; margin-left: 4px; width: 90px; clear: right; }
#seminar_listings h2 { float: left; clear: right; font-size: 20px; padding: 0; margin-top: 10px; width: 380px;}
#seminar_listings h3 { float: left; clear: left; margin: 0; padding: 0; margin-top: -10px; }









.seminar_form { width: 500px; }
.seminar_form h1 { float: left; min-height: 50px; width: 200px; }

.seminar_form .main_content { clear: left; margin-bottom: 20px; padding: 11px; }
.seminar_form label { float: left; font: 16px "helvetica","sans-serif"; margin-right: 10px; padding: 10px 0; }
.seminar_form input { margin: 10px 0; }
.seminar_form select { margin: 10px 0; }
.seminar_form input#seminar_title { width: 425px; }
.seminar_form .maximum_capacity { background: #d4d4d4; color: #ffffff; float: left; font: bold 28px "helvetica","sans-serif"; line-height: 50px; margin: 0px 0 0 5px; padding: 5px 7px; }
.seminar_form .maximum_capacity input { width: 40px; height: 35px; margin: 0; padding: 0; }
.seminar_form .maximum_capacity img { }
.seminar_form label[for="seminar_end_at"] { clear: left; }
.seminar_form label[for="seminar_location"] { clear: left; }
.seminar_form input#seminar_location { width: 394px; }
.seminar_form label[for="seminar_description"] { clear: left; }
.seminar_form select#seminar_seminar_status_id { width: 300px; }
.seminar_form input[type="submit"] { clear: left; width: 25%; }
.seminar_form .field_with_errors { background: inherit; margin: 0; padding: 0; float: left; }
.seminar_form .field_with_errors label { border-left: 5px solid #d9332c; margin-left: -10px; padding-left: 10px; }


.add-participant-form { 
  line-height: 40px; padding: 5px; text-decoration: none; color: inherit; padding: 5px; display: block;
  position: relative;

  input[type="text"] { width: 140px; border: 1px solid #cccccc; padding: 5px 3px; position: relative; }
}


/* ==|== admin/seminars view styles =========================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== Seminars Listing Page ============================================== */


/* ==|== Show Seminar Details Page ========================================== */

li.moved { border: 3px solid #aaaadd !important; margin: 2px 4px; }
li.phd { background: #ffdddd; border: 1px solid #aaaadd; }
li.masters { background: #ddffff; border: 1px solid #aaaadd; }
li.postdoc { background: #ddddff; border: 1px solid #aaaadd; }

#participant_legend { 
  position: absolute; 
  top: 280px; 
  left: 150px;

  > ul { 
    list-style-type: none; 
   
    li { margin: 5px 7px; padding: 1px 5px; }
  }
}

#show-seminar {
  float: left; 
  width: 500px;

  h1 { float: left; width: 136px; padding: 5px 7px;
   &:first-child { margin-right: 5px; width: 331px; }
   img { height: 34px; margin-right: 20px; }
  }

  h2 { line-height: 18px; padding: 20px 20px 0 20px; vertical-align: middle; 
       color: #999999; font: 300 18px "helvetica","sans-serif"; padding-right: 0; width: 350px;
       margin-top: 20px; }
 
  td { line-height: 18px; padding: 20px 20px 0 20px; vertical-align: middle; width: 150px;
   &:first-child { color: #333333; font: 300 18px "helvetica","sans-serif"; padding-right: 0; width: 350px; }
  }
  tr:nth-child(2) td { font-size: 14px; color: #666666; padding-top: 0; font-weight: bold; }
}

#waitlist {
  float: left; 
  width: 282px; 
  margin-left: 20px; 

  h1 { padding: 5px 7px; ;
    img { height: 34px; margin-right: 5px; float: left; }
  }
}


ul.dialog {
  border: 1px solid #949494; 
  float: left; 
  list-style-type: none; 
  min-height: 200px; 
  margin: -1px; 
  padding-top: 20px;
  padding-left: 40px;
}

ul.participants-list {
  &#registered_participants { margin-top: 5px; width: 460px; }
  &#waitlisted_participants { margin-top: 69px; width: 242px; }

  li {
    border: 1px solid #cccccc; 
    margin: 5px; 
    float: left; 
    width: 200px;

    a { line-height: 40px; padding: 5px; text-decoration: none; color: inherit; padding: 5px; display: block; 
    &:hover { background-color: #dddddd; }
    }
    img { width: 30px; margin-right: 5px; }
    &#add-participant { border-style: dashed; text-transform: uppercase; letter-spacing: 1px; }
    &.ui-draggable-dragging {  border: 3px solid #aaaadd !important; height: 44px; width: 186px; }
  }

}


/* ==|== Create New Seminar Page ============================================ */

