/* ==|== seminar styles =====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */
@import "graduate_student_support_definitions";

$seminar-group-border-color: #bbbbbb;
$seminar-group-header-bg-color: #bbbbbb;
$seminar-group-header-font-family: 'OpenSansLight', sans-serif;
$seminar-group-header-font: 24px/28px $seminar-group-header-font-family;
$seminar-group-header-font-family-em: 'OpenSansRegularItalic', sans-serif;

$seminar-title-font-family: 'OpenSansLight', sans-serif;
$seminar-title-font: 22px/32px $seminar-title-font-family;

/* ==|== box styles ========================================================= */
section.seminar-group {
  border-left: 1px solid $seminar-group-border-color;
  border-right: 1px solid $seminar-group-border-color;
  clear: left;
  float: left;
  margin: 0;
  position: relative;
  width: $site-min-width - $left-column-width - 2px;

  &.offering > h1 { background: #a91e23; }
  &.confirmed > h1 { background: #94b840; }
  &.pending  > h1 { background: #e3b31c; }

  &.published > h1 { background: #94b840; }
  &.development  > h1 { background: #e3b31c; }

  &:first-child { border-bottom: 1px solid $seminar-group-border-color; }
  &:last-child { border-bottom: 1px solid $seminar-group-border-color; }
  h1 {
    background: $seminar-group-header-bg-color;
    color: #ffffff;
    font: $seminar-group-header-font;
    margin: 0;
    padding: 5px $padding-small;
    vertical-align: middle;
    
    em { font-family: $seminar-group-header-font-family-em; }
  }

  ul {
    width: 100%;
    margin-bottom: 12px;

    li {
      padding: $padding-medium $padding-medium $padding-medium 100px;

      h1 {
        background: none;
	clear: left;
        color: #000000;
        float: left;
        font: $seminar-title-font;
        margin: 0;
        padding: 0;
        width: 75%;
      }

      div.capacity {
        float: left;
	margin-top: 8px;

	div.capacity-meter { border: 1px solid #bbbbbb; height: 14px; width: 120px;}
        div.capacity-meter > span { background-color: #bbbbbb; display: block; height: 100%; overflow: hidden; position: relative; }
      }

      p {
        margin: 0;
        padding: 0;
        width: 445px;
      
        &.date {
          font-weight: bold;
          padding: 4px 0;
        }
	  
        &.manage {
	  a {	
	    background: $seminar-group-border-color;
            border: 1px solid $seminar-group-border-color;
            color: #ffffff;
            float: left;
            font-weight: bold;
            margin: 10px 0 0 10px;
            padding: $padding-small/2 $padding-small;
            text-align: center;
            text-decoration: none;
            width: 100px;

            &:first-child { margin-left: 0; }
	  }
        }

	&.destroy {
	  
	  a {	
	    background: $seminar-group-border-color;
            border: 1px solid $seminar-group-border-color;
            clear: left;
            color: #ffffff;
            float: left;
            font-weight: bold;
            margin: 0;
            margin-top: 10px;
            padding: $padding-small/2 $padding-small;
            text-align: center;
            text-decoration: none;
            width: 150px;
	  }
        }

      } /* p */

      a.boxy {
        clear: left;
        margin: 10px 0 15px 0;
      }

      .confirmation {
        clear: left;
        display: none;
        float: left;

	a {
            background: $seminar-group-border-color;
            border: 1px solid $seminar-group-border-color;
            color: #ffffff;
            float: left;
            font-weight: bold;
            margin: 10px 0 0 10px;
            padding: $padding-small/2 $padding-small;
            text-align: center;
            text-decoration: none;
            width: 150px;

          &:first-child { margin-left: 0; }
        }
      }

    } /* li */
  } /* ul */

} /* section.seminar-group */
