<li>
  <h1 class="title"><%= seminar.title %></h1>
  <p class="date"><%= raw seminar.formatted_timespan %></p>
  <p class="description"><%= seminar.description %></p>

  <div class="registration-options">
    <%= seminar_registration_options seminar %>
  </div>
</li>
