
<footer id="page-footer" role="contentinfo">
  <nav>
    <ul>
      <li><%= link_to 'Eberly Center for Teaching Excellence', 'http://www.cmu.edu/eberly' %></li>
      <li><%= link_to 'eberly-ctr@andrew.cmu.edu', 'mailto:eberly-ctr@andrew.cmu.edu?subject=Teaching Support Request' %></li>
      <li><%= link_to '(412) 268-2896', 'tel:1-412-268-2896' %></li>
    </ul>
  </nav>

  <p>Our job is to help <em>you</em> be successful in your teaching</p>
</footer>
