<section id="site-search">
  <%= form_tag( search_url, :method => 'get') do %>
    <input type="text" />
    <input type="image" src="/assets/search-icon.png" value="Search" alt="Search" />
  <% end %>
</section>
