<p id="welcome-message">
  Every semester, Eberly Center offers a series of
  <strong>seminars covering various teaching topics.</strong>
  Each seminar is two hours long and are <strong>free</strong> to
  all PhD, master, and post-doc students.
</p>
